form {
  background-color: var(--white);
  padding: 3rem;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

  width: 100%;
}

form h1 {
  color: var(--grey-900);
}

form {
  margin-top: 2rem;
  /* outline: 1px solid green; */
}

.form-group {
  margin-top: 1.3rem;
  display: flex;
  /* gap: 1rem; */
}

label {
  display: block;
  margin-top: 1.3rem;
  font-size: 16px;
  color: var(--green-600);
}

input {
  margin-top: 0.7rem;
  width: 100%;
  padding: 0.9rem 0 0.9rem 0;
  border: 1px solid var(--green-600);
  border-radius: 5px;
}

.radios {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.msg input {
  padding: 6.6rem;
}

/* Focus state */

@media (min-width: 760px) {
  .name-values {
    display: flex;
    gap: 1rem;
  }

  form {
    background-color: var(--white);
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    /* max-width: 2200px; */
  }

  .radios {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    /* width: 100%; */
    /* outline: 1px solid red; */
  }
}
