@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* Primary Colors */
  --green-200: hsl(148, 38%, 91%);
  --green-600: hsl(169, 82%, 27%);
  --red: hsl(0, 66%, 54%);

  /* Neutral Colors */
  --white: hsl(0, 0%, 100%);
  --grey-500: hsl(186, 15%, 59%);
  --grey-900: hsl(187, 24%, 22%);

  /* Hover state */
  --hover-green-600: hsl(169, 77%, 21%);
}

body {
  background-color: var(--green-200);
  font-family: "Karla", sans-serif;
  font-size: 16px;
  height: 100vh;
}

html {
  scroll-behavior: smooth;
}

image {
  display: block;
  max-width: 100%;
  height: auto;
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.contact-form {
  width: 100%;
  max-width: 1200px;
}
